<h2>
    Kind habits: Edit day for <em>day_id</em> <strong>{{day.id}}</strong> on <em>board_id</em> <strong>{{day.board_id}}</strong>
</h2>

<form action="/edit_day/{{day.id}}" method="post">     
    <label for="done">Done?</label>
    <input type="checkbox" id="done" name="done_today" value="true"
    {{#if day.done_today}}
        checked 
    {{/if}}
    > 
    <br><br>

    <label for="color">Color if not done:</label>
    <select id="color" name="color_not_done_index" required>
        {{#if day.color_not_done_index}}
            <option value="{{day.color_not_done_index}}" selected>(Keep the same color)</option>
            <option value="0">Index 0</option>
        {{else}}
            <option value="0" selected>Index 0 (default)</option>
        {{/if}}
        <option value="1">Index 1</option>
        <option value="2">Index 2</option>
        <option value="3">Index 3</option>
    </select>
    <br><br>

    <label for="notes">[Optional] Notes:</label>
    <input type="text" id="notes" name="day_notes" value="{{day.day_notes}}">
    <br><br>

    <input type="submit" value="Save Changes"> 
</form>

<div>
    <h4>--</h4>
    <a href="/delete_day/{{day.id}}">Delete this day?</a>
</div>