<h2>
    Kind habits: Delete day for <em>day_id</em> <strong>{{day.id}}</strong> on <em>board_id</em> <strong>{{day.board_id}}</strong>
</h2>

<p>
    Are you sure you want to delete this day?
</p>
<ul>
    <li>Year/month/day: {{day.year_month_day}}</li>
    <li>Done = {{day.done_today}}</li>
    <li>Color not done index: {{day.color_not_done_index}}</li>
    <li>Notes: {{day.day_notes}}</li>
</ul>

<form action="/delete_board/{{boardId}}" method="post"> 
    <input type="submit" value="Yes, delete it">
</form>